* {
    margin: 0;
    padding: o;
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
body {
    height: 100vh;
}
a {
    text-decoration: none;
    color: unset;
}
ul,
ol {
    list-style-type: none;
    display: flex;
}
button {
    background: none;
    border: none;
}
.header-wrapper {
    height: 601px;
    background-image: radial-gradient(111.67% 156.26% at 141.47% 78.12%, #FFF 0%, rgba(255, 255, 255, 0.00) 100%), url(small.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 35px 20px 84px 20px;
}
.header-wrapper ul {
    column-gap: 40px;
    font-size: 1.4rem;
    line-height: 20px;
}
.header-wrapper nav {
    display: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login {
    size: 1.4rem;
    color: white;
    text-align: center;
    line-height: 20px;
    background-color:#F84646;
    border-radius: 5px;
    gap: 10px;
    width: 78px;
    height: 40px;
    padding: 10px 20px 10px 20px;  
   }
.header-wrapper .description {
    font-size: 2rem;
    color: black;
    text-align: center;
    line-height: 36px;
    padding: 70 20 84 20px;
           }
.header-wrapper h1 {
    color: black;
    font-size: 4.2rem;
    text-align: center;
    line-height: 57.5px;
    text-shadow: 10px 20px 30px black;
}
.header-wrapper h1:hover {
    color: rgb(63, 189, 63);
}
br {
    display: none;
}
.first-container {
    padding-top: 60px;
}
main h2 {
    font-size: 3.6rem;
    color: black;
    line-height: 49px;
    text-align: center;
}
.home p {
    font-size: 1.8rem;
    color: black;
    line-height: 28px;
    padding-bottom: 84px;
}
.paragraph {
    font-size: 1.2rem;
    color: black;
    text-align: center;
    line-height: 22px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.relative {
    position: relative;
    text-align: center;
}
.image-ball-left {
    position: absolute;
    width: 45px;
    height: 45px;
    left: 0;
    z-index: -1;
}
.icons-balls {
    position: relative;
}
.image-ball-parent {
    position: relative;
}
.image-ball-right {
    width: 45px;
    height: 45px;
    position: absolute;
   right: 0;
    z-index: -1;
}
.home {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 20px;
    column-gap: 132px;
}
.About {
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    text-align: center;
}
.About .add {
    font-size: 1.4rem;
    color: white;
    text-align: center;
    line-height: 24px;
    background-color: #F84646;
    border-radius: 8px;
    gap: 10px;
    max-width: 338px;
    height: 108px;
   padding: 43px 135px 43px 135px;
   margin: auto;
}
/* .add {
    
    : add 10s infinite;
   position: relative;
}
@keyframes add {
from {
    transform: rotate3d(30px);
}
to {
    transform:rotate3d(40px);
}
} */
.About p {
    font-size: 1.4rem;
    padding-bottom: 40px;
    text-align: center;
    color: #808080;
    line-height: 28.5px;  
}
h3 {
    font-size: 3.6rem;
    padding-bottom: 63px;
    text-align: center;
    text-shadow: 10px 20px 30px black;
}
h3:hover {
    color: rgb(63, 189, 63);
}
.About .small {
    padding-bottom: 30px;
    width: 335px;
    max-width: 100%; 
}
.blog {
    padding: 44px 17px 45px 20px;
    text-align: center;
}
.blog .add {
    font-size: 1.4rem;
    color: white;
    text-align: center;
    line-height: 24px;
    background-color: #F84646;
    border-radius: 8px;
    gap: 10px;
    max-width: 338px;
    height: 48px;
    padding: 12px 155px 12px 155px;
    margin-top: 40px;
    margin: auto;
}
h4 {
    font-size: 3.6rem;
    text-align: center;
    line-height: 41.5px;
    color: #2E2E2E;
    padding-bottom: 61px;
    text-shadow: 10px 20px 30px black;
}
h4:hover {
    color: rgb(63, 189, 63);
}
.blog .last-description1 {
    font-size: 1.4rem;
    line-height: 28.5px;
    text-align: center;
    color:#808080;
    padding-bottom: 40px;
}
.blog .last-description {
    display: none;
    font-size: 1.6rem;
    line-height: 32px;
    color: #808080;
}
.blog img {
    padding-bottom: 30px;
    max-width: 100%;
}
.middle-icons {
    display: none;
}
.first-icon {
    display: flex;
    justify-content: center;
    padding-top: 41px; 
}
.big-desctop {
    display: none;
}
.icons {
    display: none;
} 
footer {
    height: 1340px;
    background-color: #F84646;
}
footer nav {
    font-family: 'Dancing Script', cursive;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
  row-gap: 43px;
  padding-top: 80px;
}
footer ul {
    display: flex;
    flex-direction: column;
    color: #FFF;
}
.first {
    width: 184px;
}
.second {
    width: 265px;
}
.third {
    width: 153px;
}
.forth {
    width: 153px;
    padding-bottom: 124px;
}
.bold {
    font-weight: bold;
    line-height: 24px;
}
.letter {
    line-height: 32px;
}
span {
    width: 277px;
    max-width: 100%;
    color: #FFF;
    padding-left: 20px;
    font-size: 1.6rem;
    line-height: 32px;
}
.fa-solid, .fas {
    display: block;
    font-size: 4rem;
    margin: 30px;
} 
